In [2]:
# Let's start by importing 
import pandas as pd

# We can read from an online URL
insCompany_data = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')

In [3]:
insCompany_data.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [4]:
#identify the dimension of dataset by determining the number of columns and rows
insCompany_data.shape

(4008, 11)

In [14]:
#lowering the case of column names
cols =[]
for colName in insCompany_data.columns:
    cols.append(colName.lower())
insCompany_data.columns = cols

insCompany_data.head()

,customer,st,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [12]:
#determines all the columns datatypes
insCompany_data.dtypes

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [16]:
#checking which columns are numeric values
insCompany_data._get_numeric_data()

       income  monthly premium auto  total claim amount
0         0.0                1000.0            2.704934
1         0.0                  94.0         1131.464935
2     48767.0                 108.0          566.472247
3         0.0                 106.0          529.881344
4     36357.0                  68.0           17.269323
...       ...                   ...                 ...
4003      NaN                   NaN                 NaN
4004      NaN                   NaN                 NaN
4005      NaN                   NaN                 NaN
4006      NaN                   NaN                 NaN
4007      NaN                   NaN                 NaN

[4008 rows x 3 columns]

In [6]:
#here Customer Lifetime Value and Number of Open Complaints are object type,
#it should be numerical type and we remove to the black slash from the number of open complaints

In [ ]:
#customer,st,gender,education,policy type,vehicle class are categorial

In [18]:
categorial_unique = ["customer","st","gender","education","policy type","vehicle class"]
for column in categorial_unique:
    unique_values = insCompany_data[column].unique()
    print(f"Unique values for {column}:")
    print(unique_values)
    print()

Unique values for customer:
['RB50392' 'QZ44356' 'AI49188' ... 'CW49887' 'MY31220' nan]

Unique values for st:
['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA'
 nan]

Unique values for gender:
[nan 'F' 'M' 'Femal' 'Male' 'female']

Unique values for education:
['Master' 'Bachelor' 'High School or Below' 'College' 'Bachelors' 'Doctor'
 nan]

Unique values for policy type:
['Personal Auto' 'Corporate Auto' 'Special Auto' nan]

Unique values for vehicle class:
['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car' nan]

In [61]:
categorial_unique = ["customer","st","gender","education","policy type","vehicle class"]
print("Descriptive statistics for categorial variables:")
print(insCompany_data[categorial_unique].describe())

Descriptive statistics for categorial variables:
       customer      st gender education    policy type  vehicle class
count      1071    1071    954      1071           1071           1071
unique     1071       8      5         6              3              6
top     RB50392  Oregon      F  Bachelor  Personal Auto  Four-Door Car
freq          1     320    457       324            780            576

In [56]:
#range of numerical columns
numerical_summary = insCompany_data.describe()
print(numerical_summary)
print()

# Display the range of values for numerical columns
print("Range of values for numerical columns:")

print(numerical_summary.loc[['min', 'max']])

             income  monthly premium auto  total claim amount
count   1071.000000           1071.000000         1071.000000
mean   39295.701214            193.234360          404.986909
std    30469.427060           1601.190369          293.027260
min        0.000000             61.000000            0.382107
25%    14072.000000             68.000000          202.157702
50%    36234.000000             83.000000          354.729129
75%    64631.000000            109.500000          532.800000
max    99960.000000          35354.000000         2893.239678

Range of values for numerical columns:
      income  monthly premium auto  total claim amount
min      0.0                  61.0            0.382107
max  99960.0               35354.0         2893.239678

In [26]:
#summary statistics of numerical variables
numerical_variables = ["income","monthly premium auto","total claim amount"] #numericals variables are
insCompany_data[numerical_variables].mean() # mean
insCompany_data[numerical_variables].mode() #mode
insCompany_data[numerical_variables].median() #median
insCompany_data[numerical_variables].std() #standard deviation
insCompany_data[numerical_variables].quantile([0.25, 0.5, 0.75])#quartiles

       income  monthly premium auto  total claim amount
0.25  14072.0                  68.0          202.157702
0.50  36234.0                  83.0          354.729129
0.75  64631.0                 109.5          532.800000

In [63]:
#  get summary statistics for categorical columns
categorical_summary = insCompany_data.describe(include=['object'])

# Display the summary statistics for categorical columns
print("Summary statistics for categorical columns:")
print(categorical_summary)

Summary statistics for categorical columns:
       customer      st gender education customer lifetime value  \
count      1071    1071    954      1071                    1068
unique     1071       8      5         6                    1027
top     RB50392  Oregon      F  Bachelor              445811.34%
freq          1     320    457       324                       4

       number of open complaints    policy type  vehicle class
count                       1071           1071           1071
unique                         6              3              6
top                       1/0/00  Personal Auto  Four-Door Car
freq                         830            780            576

In [44]:
#The marketing team wants to know the top 5 less common customer locations.
top_5_less_common_locations = insCompany_data['st'].value_counts(ascending=True).head(5)

print(top_5_less_common_locations)

st
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: count, dtype: int64

In [49]:
#The sales team wants to know the total number of policies sold for each type of policy

policy_counts = insCompany_data['policy type'].value_counts()
print(policy_counts)

# Find the policy type with the highest number of policies sold.
max_policyType = policy_counts.idxmax()

print(f"The policy type with the highest number of policies sold is: {max_policyType}")

policy type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64
The policy type with the highest number of policies sold is: Personal Auto

In [51]:
# Create two DataFrames for Personal Auto and Corporate Auto policies.
personal_auto_data = insCompany_data.loc[insCompany_data['policy type'] == 'Personal Auto']
corporate_auto_data = insCompany_data.loc[insCompany_data['policy type'] == 'Corporate Auto']

# Calculate the average income for each policy type.
average_income_personal = personal_auto_data['income'].mean()
average_income_corporate = corporate_auto_data['income'].mean()

print(f"Average income for Personal Auto: {average_income_personal}")
print(f"Average income for Corporate Auto: {average_income_corporate}")

Average income for Personal Auto: 38180.69871794872
Average income for Corporate Auto: 41390.31196581197

Summary statistics for categorical columns:
       customer      st gender education customer lifetime value  \
count      1071    1071    954      1071                    1068
unique     1071       8      5         6                    1027
top     RB50392  Oregon      F  Bachelor              445811.34%
freq          1     320    457       324                       4

       number of open complaints    policy type  vehicle class
count                       1071           1071           1071
unique                         6              3              6
top                       1/0/00  Personal Auto  Four-Door Car
freq                         830            780            576